<a href="https://colab.research.google.com/github/YG15/DataHack2019/blob/master/DataHack_2019_Armis_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DataHack 2019 Armis project**

In [0]:
import pandas as pd
import numpy as np

In [0]:
!wget https://raw.githubusercontent.com/YG15/DataHack2019/master/src/functions/get_network_hierarchy.py

from get_network_hierarchy import *

In [2]:
url = 'https://raw.githubusercontent.com/YG15/DataHack2019/master/data/draft/network_draft.csv'
df = pd.read_csv(url)
df.head()

   network_id  device_id  service_device_id   timestamp
0           1         47              932.0  1564963200
1           1        440            12862.0  1564963200
2           1        440               47.0  1564963200
3           1        440              131.0  1564963200
4           0         52              430.0  1564963200

In [60]:
get_network_hierarchy(network_df).head()

   network_id  device_id  service_device_id   timestamp  network_hierarchy
0           1         47                932  1564963200                2.0
1           1        440              12862  1564963200                1.0
2           1        440                 47  1564963200                1.0
3           1        440                131  1564963200                1.0
4           0         52                430  1564963200                1.0

In [0]:
def get_network_hierarchy(network_df):
  """
  input: a table of network connection
  output: the same table with additional columns representing the level of hierarchy in the net
  IPORTANT: the function assumes there each device has it unique id regardless the network it is in, if there are duplicates ids, the function will results incorrect results
            thus it is recommended to run the function on each network seperatly or to change the devices ids so they won't be any shared ids across networks
  """
  network_df['service_device_id'] = network_df.service_device_id.apply(lambda x: int(x))
  output_devices = list(network_df.device_id.unique())
  input_devices = list(network_df.service_device_id.unique())
  root_devices = list(set(output_devices).difference(set(input_devices)))
  device_level = 0
  network_df['network_hierarchy'] = np.nan
  while len(root_devices)>0:
    network_df['network_hierarchy'] = [device_level+1 if device in root_devices else val for device, val in zip(network_df.device_id,network_df.network_hierarchy)]
    root_devices = list(network_df.service_device_id[network_df.network_hierarchy==device_level+1])
    device_level+=1
  return(network_df)