<a href="https://colab.research.google.com/github/YG15/DataHack2019/blob/master/tali_data_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [2]:
url = 'https://armis-datahack.s3.amazonaws.com/all_devices.csv'
devices_df = pd.read_csv(url, index_col = 0)
devices_df.head()

     network_id  device_id  ... operating_system operating_system_version
113           0    1028623  ...          Android                        9
587           0      48047  ...          Android                        9
668           0     123568  ...          Android                    8.0.0
830           0      95366  ...              iOS                      NaN
886           0    1755023  ...              iOS                      NaN

[5 rows x 7 columns]

In [3]:
url = 'https://armis-datahack.s3.amazonaws.com/all_sessions.csv'
df = pd.read_csv(url)
df.head()

   Unnamed: 0  ...  inbound_packet_size_stddev
0           0  ...                         0.0
1           1  ...                         0.0
2           2  ...                         NaN
3           3  ...                         NaN
4           4  ...                         NaN

[5 rows x 38 columns]

In [0]:
df_gb = df.groupby(['device_id'],as_index=False).agg({'host':'nunique',
                                                      'packets_count':'mean',
                                                      'packet_loss':'max',
                                                      'session_count':'mean'})

In [0]:

final_df[['device_id', 'host', 'packets_count', 'session_count', 'network_id', 'type']].to_csv('features_v1.csv')

In [0]:
from google.colab import files
files.download("features_v1.csv")