<a href="https://colab.research.google.com/github/YG15/DataHack2019/blob/master/yonathan_data_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from google.colab import files

In [3]:
!wget https://raw.githubusercontent.com/YG15/DataHack2019/master/src/functions/get_network_hierarchy.py

from get_network_hierarchy import *

--2019-09-04 20:59:19--  https://raw.githubusercontent.com/YG15/DataHack2019/master/src/functions/get_network_hierarchy.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1703 (1.7K) [text/plain]
Saving to: ‘get_network_hierarchy.py.1’

get_network_hierarc 100%[===================>]   1.66K  --.-KB/s    in 0s

2019-09-04 20:59:20 (329 MB/s) - ‘get_network_hierarchy.py.1’ saved [1703/1703]

In [4]:
url = 'https://armis-datahack.s3.amazonaws.com/all_devices.csv'
devices_df = pd.read_csv(url, index_col = 0)
devices_df.head()

     network_id  device_id  ... operating_system operating_system_version
113           0    1028623  ...          Android                        9
587           0      48047  ...          Android                        9
668           0     123568  ...          Android                    8.0.0
830           0      95366  ...              iOS                      NaN
886           0    1755023  ...              iOS                      NaN

[5 rows x 7 columns]

In [5]:
url = 'https://armis-datahack.s3.amazonaws.com/all_sessions.csv'
sessions_df = pd.read_csv(url)
sessions_df.head()

   Unnamed: 0  ...  inbound_packet_size_stddev
0           0  ...                         0.0
1           1  ...                         0.0
2           2  ...                         NaN
3           3  ...                         NaN
4           4  ...                         NaN

[5 rows x 38 columns]

In [0]:
#df_processed = get_network_hierarchy(df)

In [0]:
def range_list(val_list):
    min_val = min(val_list)
    max_val = max(val_list)

    return (max_val-min_val)
  
classic_functions = ['min','max','mean','std']

df_gb = sessions_df.groupby(['device_id'],as_index=False).agg({'host':'nunique',
                                                      'host_ip':'nunique',
                                                      'port_dst':'nunique',
                                                      'timestamp':['nunique','count',('range', lambda x: range_list(x))],
                                                      'transport_protocol':'nunique',
                                                      'packets_count':classic_functions,
                                                      'outbound_bytes_count':classic_functions, 
                                                      'inbound_bytes_count':classic_functions, 
                                                      'packet_loss':classic_functions,
                                                      'retransmit_count':classic_functions, 
                                                      'latency':classic_functions, 
                                                      'session_count':classic_functions,
                                                      'outbound_packets_count':classic_functions, 
                                                      'inbound_packets_count':classic_functions, 
                                                      'outbound_bytes_max':classic_functions,
                                                      'outbound_bytes_min':classic_functions, 
                                                      'outbound_bytes_mean':classic_functions, 
                                                      'outbound_bytes_median':classic_functions,
                                                      'outbound_bytes_stddev':classic_functions, 
                                                      'inbound_bytes_max':classic_functions, 
                                                      'inbound_bytes_min':classic_functions,
                                                      'inbound_bytes_mean':classic_functions, 
                                                      'inbound_bytes_median':classic_functions, 
                                                      'inbound_bytes_stddev':classic_functions,
                                                      'outbound_packet_size_max':classic_functions, 
                                                      'outbound_packet_size_min':classic_functions,
                                                      'outbound_packet_size_mean':classic_functions, 
                                                      'outbound_packet_size_median':classic_functions,
                                                      'outbound_packet_size_stddev':classic_functions, 
                                                      'inbound_packet_size_max':classic_functions,
                                                      'inbound_packet_size_min':classic_functions, 
                                                      'inbound_packet_size_mean':classic_functions,
                                                      'inbound_packet_size_median':classic_functions, 
                                                      'inbound_packet_size_stddev':classic_functions})

df_gb.columns = ["_".join(x) for x in df_gb.columns.ravel()]

In [9]:
df_gb.sample(20)

       device_id_  ...  inbound_packet_size_stddev_std
30656      126154  ...                             NaN
59714      702360  ...                             NaN
55050      530682  ...                      128.216799
26675      100963  ...                        5.650442
46440      348114  ...                       26.562326
27309      105491  ...                      191.153094
31422      130330  ...                      101.285878
18661       54438  ...                      142.330103
2268         4038  ...                             NaN
45535      323990  ...                             NaN
13565       31332  ...                      204.120901
30689      126361  ...                             NaN
22330       69835  ...                        2.925625
56561      534416  ...                             NaN
16622       44013  ...                      228.876464
5617        11201  ...                             NaN
31549      131500  ...                             NaN
61622      903166  ...                       95.389181
69159     1762220  ...                      104.451371
2308         4108  ...                        0.916348

[20 rows x 124 columns]

In [11]:
final_df = pd.merge(df_gb, devices_df, how = 'left', left_on='device_id_' , right_on='device_id')
final_df.head()

   device_id_  ...  operating_system_version
0          13  ...                    12.3.1
1          20  ...                    10.3.3
2          24  ...                       NaN
3          31  ...                       NaN
4          32  ...                       NaN

[5 rows x 131 columns]

In [0]:
final_df.to_csv('features_v2.csv')

In [14]:
final_df.shape

(76082, 131)

In [15]:
from google.colab import files
files.download("features_v2.csv")

----------------------------------------
Exception happened during processing of request from ('::ffff:127.0.0.1', 53848, 0, 0)
Traceback (most recent call last):
  File "/usr/lib/python3.6/socketserver.py", line 320, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/usr/lib/python3.6/socketserver.py", line 351, in process_request
    self.finish_request(request, client_address)
  File "/usr/lib/python3.6/socketserver.py", line 364, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "/usr/lib/python3.6/socketserver.py", line 724, in __init__
    self.handle()
  File "/usr/lib/python3.6/http/server.py", line 418, in handle
    self.handle_one_request()
  File "/usr/lib/python3.6/http/server.py", line 406, in handle_one_request
    method()
  File "/usr/lib/python3.6/http/server.py", line 639, in do_GET
    self.copyfile(f, self.wfile)
  File "/usr/lib/python3.6/http/server.py", line 800, in copyfile
    shutil.copyfileobj(source, outputfile)
  File "/usr/lib/python3.6/shutil.py", line 82, in copyfileobj
    fdst.write(buf)
  File "/usr/lib/python3.6/socketserver.py", line 803, in write
    self._sock.sendall(b)
ConnectionResetError: [Errno 104] Connection reset by peer
----------------------------------------

In [16]:
from google.colab import drive
drive.mount('drive')
final_df.to_csv('features_v2.csv')
!cp features_v2.csv drive/My\ Drive/

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at drive