<a href="https://colab.research.google.com/github/YG15/DataHack2019/blob/master/yonathan_data_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [2]:
!wget https://raw.githubusercontent.com/YG15/DataHack2019/master/src/functions/get_network_hierarchy.py

from get_network_hierarchy import *

--2019-09-04 18:52:33--  https://raw.githubusercontent.com/YG15/DataHack2019/master/src/functions/get_network_hierarchy.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1703 (1.7K) [text/plain]
Saving to: ‘get_network_hierarchy.py’

get_network_hierarc 100%[===================>]   1.66K  --.-KB/s    in 0s

2019-09-04 18:52:33 (289 MB/s) - ‘get_network_hierarchy.py’ saved [1703/1703]

In [0]:
url = 'https://armis-datahack.s3.amazonaws.com/all_devices.csv'
devices_df = pd.read_csv(url, index_col = 0)
devices_df.head()

     network_id  device_id  ... operating_system operating_system_version
113           0    1028623  ...          Android                        9
587           0      48047  ...          Android                        9
668           0     123568  ...          Android                    8.0.0
830           0      95366  ...              iOS                      NaN
886           0    1755023  ...              iOS                      NaN

[5 rows x 7 columns]

In [0]:
url = 'https://armis-datahack.s3.amazonaws.com/all_sessions.csv'
df = pd.read_csv(url)
df.head()

   Unnamed: 0  ...  inbound_packet_size_stddev
0           0  ...                         0.0
1           1  ...                         0.0
2           2  ...                         NaN
3           3  ...                         NaN
4           4  ...                         NaN

[5 rows x 38 columns]

In [0]:
#df_processed = get_network_hierarchy(df)

In [0]:
df_gb = df.groupby(['device_id'],as_index=False).agg({'host':'nunique',
                                                      'packets_count':'mean',
                                                      'packet_loss':'max',
                                                      'session_count':'mean'})

In [0]:
df_gb.shape

(71484, 5)

In [0]:
final_df = pd.merge(df_gb, devices_df, how = 'left', on='device_id')
final_df.head()

   device_id  host  ...               operating_system  operating_system_version
0         13    33  ...                            iOS                    12.3.1
1         20   139  ...                            iOS                    10.3.3
2         24     6  ...  HP ETHERNET MULTI-ENVIRONMENT                       NaN
3         31     3  ...  HP ETHERNET MULTI-ENVIRONMENT                       NaN
4         32     5  ...  HP ETHERNET MULTI-ENVIRONMENT                       NaN

[5 rows x 11 columns]

In [0]:

final_df[['device_id', 'host', 'packets_count', 'session_count', 'network_id', 'type']].to_csv('features_v1.csv')

In [0]:
from google.colab import files
files.download("features_v1.csv")